body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

img {
    position: absolute;
    margin-top: 35px;
}

p {
    text-align: center;
}

#inp {
    text-align: center;
    width: 50%;
    border-radius: 10px;
}

#sim {
    border-radius: 10px;
    background-color: aqua;
    width: 100px;
    color: darkgreen;
    font-weight: bold;
    font-size: 12pt;
}

#sim:hover {
    background-color: aliceblue;
}

#sim:active {
    background-color: crimson;
}