.container{
    height: 700px;
    max-width: 700px;
    margin: 1rem auto;
    display: flex;
    /* Horizontal é eixo X, e a vertical Y */
    flex-direction: row;
    /* Horizontal é eixo Y, e a vertical X */
    flex-direction: column;

    flex-direction: row;
    justify-content: center; /*Quando em linha trabalha no eixo x, quando em coluna trabalha no eixo Y*/
    justify-content: space-between; /*Distribui um espaçamento igual entre eles*/
    justify-content: space-around; /*Distribui um espaçamento igual entre os elementos de forma somada, ou seja: spacing de 5, dps 5+5, dps 5+5+5*/
    justify-content: space-evenly; /**/
    justify-content: flex-start;

    align-items: center;
    align-items: flex-start;
    /* align-items: stretch; */

    flex-wrap: wrap;
    gap: 25px;
}

div{
    border: 2px solid black;
}

.box1, .box2, .box3, .box4, .box5, .box6{
    font-size: 50px;
    text-align: center;
    display: inline-block;
    /* height: 150px; */
    width: 150px;
    background-color: gold;
}

.box1{
    flex-grow: 2;
    flex-shrink: 2;
}

.box2, .box4, .box6{
    align-self: flex-end;
}